.goals{
  width: 75%;
  margin-left: 20px;

}

.heading{
  font-family: helvetica;
  text-align: center;
}

.fancy{
  text-decoration: underline;
}

.list{
  color: #66e;
}

.skills{
  color: #22feff;
}
